# You must generate a key here https://www.last.fm/api/account/create
# It will give you an API key, which you must replace YOUR_LAST_FM_API_KEY_HERE with.
VITE_LASTFM_API_KEY=YOUR_LAST_FM_API_KEY_HERE
