body {
    margin: 0;
    font-family: 'Lilex', sans-serif;
}

button {
    font-family: 'Lilex', sans-serif;
}

h1 {
  font-size: 8rem;
  user-select: none;
  cursor: pointer;
  width: min-content;
}
